<h1 class="text-center">Discover Experiences</h1>

<div class="text-center">
  <%= will_paginate %>
</div>

<%= render 'article', obj: @articles %>
      
<div class="text-center">
  <%= will_paginate %>
</div>