<h1>Showing selected article.</h1>

<p>Title: <%= @article.title %></p>

<p>Country: <%= @article.country %></p>

<p>Dive Site: <%= @article.divesite %></p>

<p>Description: <%= @article.description %></p>