<div class="home-bg">
  <div class="text-center">
    <h1>Welcome to My Dive Blog!</h1>
    <p>Start sharing your dive experiences with the world.</p>
    <%= link_to 'Create Your Dive Blog', signup_path, class: "btn btn-lg btn-success" %>
  </div>
</div>