$navbar-default-bg: #fff;

.btn-primary {
  background-color: #2800a0 !important; //Color1
}

.btn-success {
  background-color: #00a028 !important; //Color2
}

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #eaeaea;
}

// Navbar
.navbar {
  border-bottom: 1px solid #999;
}

// Logo
#logo {
  float: left;
  font-size: 1.7em;
  color: #2800a0; //Color1
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #7800a0;
  text-decoration: none;
}

#logo_intext {
  color: #2800a0; //Color1
  font-weight: bold;
}

// Jumbotron
.jumbotron {
  background-image: asset-url('home.jpg');
  background-size: cover;
  height: 550px;
  background-position: center;
}

.jumbotron h1 {
  color: white;
  margin-top: 10px !important;
  margin-bottom: 100px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlg {
  font-size: 1.7em;
}

// footer
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222;
  text-decoration: none;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.well {
  border-bottom: 2px solid #999;
  border-right: 2px solid #777;
}

.badge {
  background-color: #0078a0;
}

.badge:hover {
  background-color: #2800a0; //Color1
}

.badge a {
  color: white;
  text-decoration: none;
}

.input_checkbox input {
  width: auto !important;
}